<a href="https://colab.research.google.com/github/Dheer08/Master-s-Python-Assignment/blob/main/CA%201/20056561%20-%20Exercise%202%20Pandas%20Data%20Manipulation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Exercise 1 Python Pandas Data Manipulation
**In this colab notebook we can look at the solution for the python assignment that is based on pandas**

In [2]:
# Since we use pandas in every question we import it at the start of the assignment
# we use as pd - you can think it of as a short nick name for the library which we can use it as a reference
import pandas as pd

1. Write a Pandas program to append a list of dictioneries or series to an
existing DataFrame and display the combined data.

In [ ]:

# Existing DataFrame
data = {
    'student_id': ['S1', 'S2', 'S3', 'S4', 'S5'],
    'name': ['Danniella Fenton', 'Ryder Storey', 'Bryce Jensen', 'Ed Bernal', 'Kwame Morin'],
    'marks': [85, 92, 78, 88, 95]
}
# Creating a DataFrame
df = pd.DataFrame(data)

# New student data as a dictionary
new_student = {
    'student_id': 'S6',
    'name': 'Scarlette Fisher',
    'marks': 205
}

# Append using pd.concat()
df = pd.concat([df, pd.DataFrame([new_student])], ignore_index=True)

# Display the combined data
print("Combined DataFrame:")
print(df)

Combined DataFrame:
  student_id              name  marks
0         S1  Danniella Fenton     85
1         S2      Ryder Storey     92
2         S3      Bryce Jensen     78
3         S4         Ed Bernal     88
4         S5       Kwame Morin     95
5         S6  Scarlette Fisher    205

2. Write a Pandas program to join the two given dataframes a long rows
and merge with another dataframe along the common column id.

In [ ]:
# Given DataFrames
student_data1 = pd.DataFrame({
    'student_id': ['S1', 'S2', 'S3', 'S4', 'S5'],
    'name': ['Danniella Fenton', 'Ryder Storey', 'Bryce Jensen', 'Ed Bernal', 'Kwame Morin'],
    'marks': [200, 210, 190, 222, 199]
})

student_data2 = pd.DataFrame({
    'student_id': ['S4', 'S5', 'S6', 'S7', 'S8'],
    'name': ['Scarlette Fisher', 'Carla Williamson', 'Dante Morse', 'Kaiser William', 'Madeeha Preston'],
    'marks': [201, 200, 198, 219, 201]
})

exam_data = pd.DataFrame({
    'student_id': ['S1', 'S2', 'S3', 'S4', 'S5', 'S7', 'S8', 'S9', 'S10', 'S11', 'S12', 'S13'],
    'exam_id': [23, 45, 12, 67, 21, 55, 33, 14, 56, 83, 88, 12]
})

# Step 1: Concatenate student_data1 and student_data2 (row-wise)
combined_students = pd.concat([student_data1, student_data2], ignore_index=True)

# Step 2: Merge with exam_data (left join to retain all students)
final_df = pd.merge(combined_students, exam_data, on='student_id', how='left')

print("Combined Students (student_data1 + student_data2):")
print(combined_students)

print("\nFinal Merged DataFrame (Students + Exam Data):")
print(final_df)

Combined Students (student_data1 + student_data2):
  student_id              name  marks
0         S1  Danniella Fenton    200
1         S2      Ryder Storey    210
2         S3      Bryce Jensen    190
3         S4         Ed Bernal    222
4         S5       Kwame Morin    199
5         S4  Scarlette Fisher    201
6         S5  Carla Williamson    200
7         S6       Dante Morse    198
8         S7    Kaiser William    219
9         S8   Madeeha Preston    201

Final Merged DataFrame (Students + Exam Data):
  student_id              name  marks  exam_id
0         S1  Danniella Fenton    200     23.0
1         S2      Ryder Storey    210     45.0
2         S3      Bryce Jensen    190     12.0
3         S4         Ed Bernal    222     67.0
4         S5       Kwame Morin    199     21.0
5         S4  Scarlette Fisher    201     67.0
6         S5  Carla Williamson    200     21.0
7         S6       Dante Morse    198      NaN
8         S7    Kaiser William    219     55.0
9         S8   Madeeha Preston    201     33.0

3. Write a Pandas program to join the two dataframes using the common
column of both dataframes.

In [3]:
student_data1 = pd.DataFrame({
    'student_id': ['S1', 'S2', 'S3', 'S4', 'S5'],
    'name': ['Danniella Fenton', 'Ryder Storey', 'Bryce Jensen', 'Ed Bernal', 'Kwame Morin'],
    'marks': [200, 210, 190, 222, 199]
})

student_data2 = pd.DataFrame({
    'student_id': ['S4', 'S5', 'S6', 'S7', 'S8'],
    'name': ['Scarlette Fisher', 'Carla Williamson', 'Dante Morse', 'Kaiser William', 'Madeeha Preston'],
    'marks': [201, 200, 198, 219, 201]
})

# Inner join (default)
inner_merged = pd.merge(student_data1, student_data2, on='student_id', how='inner')
print("Inner Join (Common students only):")
print(inner_merged)

Inner Join (Common students only):
  student_id       name_x  marks_x            name_y  marks_y
0         S4    Ed Bernal      222  Scarlette Fisher      201
1         S5  Kwame Morin      199  Carla Williamson      200

4. Write a Pandas program to join the two dataframes with matching
records from both sides where available

In [4]:
# Given DataFrames
student_data1 = pd.DataFrame({
    'student_id': ['S1', 'S2', 'S3', 'S4', 'S5'],
    'name': ['Danniella Fenton', 'Ryder Storey', 'Bryce Jensen', 'Ed Bernal', 'Kwame Morin'],
    'marks': [200, 210, 190, 222, 199]
})

student_data2 = pd.DataFrame({
    'student_id': ['S4', 'S5', 'S6', 'S7', 'S8'],
    'name': ['Scarlette Fisher', 'Carla Williamson', 'Dante Morse', 'Kaiser William', 'Madeeha Preston'],
    'marks': [201, 200, 198, 219, 201]
})

# Inner join (only matching records from both DataFrames)
inner_merged = pd.merge(student_data1, student_data2, on='student_id', how='inner')

print("Inner Join (Matching Records from Both DataFrames):")
print(inner_merged)

Inner Join (Matching Records from Both DataFrames):
  student_id       name_x  marks_x            name_y  marks_y
0         S4    Ed Bernal      222  Scarlette Fisher      201
1         S5  Kwame Morin      199  Carla Williamson      200

5. Write a Pandas program to join (left join) the two dataframes using keys
from left dataframe only.

In [6]:
# Define data1
data1 = pd.DataFrame({
    'key1': ['K0', 'K0', 'K1', 'K2'],
    'key2': ['K0', 'K1', 'K0', 'K1'],
    'P': ['P0', 'P1', 'P2', 'P3'],
    'Q': ['Q0', 'Q1', 'Q2', 'Q3']
})

# Define data2
data2 = pd.DataFrame({
    'key1': ['K0', 'K1', 'K1', 'K2'],
    'key2': ['K0', 'K0', 'K0', 'K0'],
    'R': ['R0', 'R1', 'R2', 'R3'],
    'S': ['S0', 'S1', 'S2', 'S3']
})


# Perform left join on 'key1' and 'key2'
left_merged = pd.merge(
    data1,
    data2,
    on=['key1', 'key2'],
    how='left',  # Left join (keep all keys from left)
    suffixes=('_left', '_right')  # Optional: clarify column origins
)

print("Left Join Result:")
print(left_merged)

Left Join Result:
  key1 key2   P   Q    R    S
0   K0   K0  P0  Q0   R0   S0
1   K0   K1  P1  Q1  NaN  NaN
2   K1   K0  P2  Q2   R1   S1
3   K1   K0  P2  Q2   R2   S2
4   K2   K1  P3  Q3  NaN  NaN

6. Write a Pandas program to create a line plot of the historical stock prices of
Alphabet Inc. between two specific dates.

7. Write a Pandas program to create a line plot of the opening, closing stock prices
of Alphabet Inc. between two specific dates.

8. Write a Pandas program to create a bar plot of the trading volume of Alphabet
Inc. stock between two specific dates.

9. Write a Pandas program to create a bar plot of opening, closing stock prices of
Alphabet Inc. between two specific dates.

10. Write a Pandas program to create a stacked bar plot of opening, closing stock
prices of Alphabet Inc. between two specific dates.