<a href="https://colab.research.google.com/github/Dheer08/Master-s-Python-Assignment/blob/main/CA%201/20056561%20-%20Exercise%202%20Pandas%20Data%20Manipulation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Exercise 1 Python Pandas Data Manipulation
**In this colab notebook we can look at the solution for the python assignment that is based on pandas**

In [1]:
# Since we use pandas in every question we import it at the start of the assignment
# we use as pd - you can think it of as a short nick name for the library which we can use it as a reference
import pandas as pd

1. Write a Pandas program to append a list of dictioneries or series to an
existing DataFrame and display the combined data.

In [6]:

# Existing DataFrame
data = {
    'student_id': ['S1', 'S2', 'S3', 'S4', 'S5'],
    'name': ['Danniella Fenton', 'Ryder Storey', 'Bryce Jensen', 'Ed Bernal', 'Kwame Morin'],
    'marks': [85, 92, 78, 88, 95]
}
# Creating a DataFrame
df = pd.DataFrame(data)

# New student data as a dictionary
new_student = {
    'student_id': 'S6',
    'name': 'Scarlette Fisher',
    'marks': 205
}

# Append using pd.concat()
df = pd.concat([df, pd.DataFrame([new_student])], ignore_index=True)

# Display the combined data
print("Combined DataFrame:")
print(df)

Combined DataFrame:
  student_id              name  marks
0         S1  Danniella Fenton     85
1         S2      Ryder Storey     92
2         S3      Bryce Jensen     78
3         S4         Ed Bernal     88
4         S5       Kwame Morin     95
5         S6  Scarlette Fisher    205

2. Write a Pandas program to join the two given dataframes a long rows
and merge with another dataframe along the common column id.

In [7]:
# Given DataFrames
student_data1 = pd.DataFrame({
    'student_id': ['S1', 'S2', 'S3', 'S4', 'S5'],
    'name': ['Danniella Fenton', 'Ryder Storey', 'Bryce Jensen', 'Ed Bernal', 'Kwame Morin'],
    'marks': [200, 210, 190, 222, 199]
})

student_data2 = pd.DataFrame({
    'student_id': ['S4', 'S5', 'S6', 'S7', 'S8'],
    'name': ['Scarlette Fisher', 'Carla Williamson', 'Dante Morse', 'Kaiser William', 'Madeeha Preston'],
    'marks': [201, 200, 198, 219, 201]
})

exam_data = pd.DataFrame({
    'student_id': ['S1', 'S2', 'S3', 'S4', 'S5', 'S7', 'S8', 'S9', 'S10', 'S11', 'S12', 'S13'],
    'exam_id': [23, 45, 12, 67, 21, 55, 33, 14, 56, 83, 88, 12]
})

# Step 1: Concatenate student_data1 and student_data2 (row-wise)
combined_students = pd.concat([student_data1, student_data2], ignore_index=True)

# Step 2: Merge with exam_data (left join to retain all students)
final_df = pd.merge(combined_students, exam_data, on='student_id', how='left')

print("Combined Students (student_data1 + student_data2):")
print(combined_students)

print("\nFinal Merged DataFrame (Students + Exam Data):")
print(final_df)

Combined Students (student_data1 + student_data2):
  student_id              name  marks
0         S1  Danniella Fenton    200
1         S2      Ryder Storey    210
2         S3      Bryce Jensen    190
3         S4         Ed Bernal    222
4         S5       Kwame Morin    199
5         S4  Scarlette Fisher    201
6         S5  Carla Williamson    200
7         S6       Dante Morse    198
8         S7    Kaiser William    219
9         S8   Madeeha Preston    201

Final Merged DataFrame (Students + Exam Data):
  student_id              name  marks  exam_id
0         S1  Danniella Fenton    200     23.0
1         S2      Ryder Storey    210     45.0
2         S3      Bryce Jensen    190     12.0
3         S4         Ed Bernal    222     67.0
4         S5       Kwame Morin    199     21.0
5         S4  Scarlette Fisher    201     67.0
6         S5  Carla Williamson    200     21.0
7         S6       Dante Morse    198      NaN
8         S7    Kaiser William    219     55.0
9         S8   Madeeha Preston    201     33.0

3. Write a Pandas program to join the two dataframes using the common
column of both dataframes.